textarea {
  width: 100%; /* w-full */
  padding: 0; /* p-0 */
  font-size: 1.125rem; /* text-lg (18px) */
  resize: none;
  border: none; /* border-none */
  outline: none; /* focus:outline-none */
  background-color: inherit; /* bg-inherit */
}

.p-mention-panel {
  scrollbar-width: none;
}

.word-wrap {
  word-break: break-word; /* 强制长单词换行 */
  overflow-wrap: break-word; /* 兼容性属性，确保长单词在行尾换行 */
}
