.p-inputtextarea {
  width: 100%; /* w-full */

  height: auto;
  overflow: visible;
  min-height: 100px;
  max-height: 300px !important;

  overflow-y: scroll;
  padding: 0; /* p-0 */
  font-size: 1.125rem; /* text-lg (18px) */
  resize: vertical;
  border: none; /* border-none */
  outline: none; /* focus:outline-none */
  background-color: inherit; /* bg-inherit */
}

.word-wrap {
  min-height: 40px;
  height: auto;
  word-break: break-word; /* 强制长单词换行 */
  overflow-wrap: break-word; /* 兼容性属性，确保长单词在行尾换行 */
}
.create-post-container .p-mention-panel {
  scrollbar-width: none;
  position: absolute !important;
  top: 100% !important;
  left: 50px !important;
  z-index: 1050 !important;
  max-height: 200px !important;
  padding: 0;
  width: 10px !important;
  margin-top: 10px;
  max-width: min-content;
}
.create-post-container .p-mention-panel .p-mention-items {
  max-width: fit-content;
  border-radius: 15px;
  overflow: hidden;
}
.quote-post-container .p-mention {
  width: 100%;
}
.quote-post-container .p-mention-input {
  width: 100% !important;
}
.quote-post-container .p-mention-panel.p-component {
  padding: 10px;

  scrollbar-width: none;
  position: absolute !important;

  min-width: 200px !important;
  left: 20px !important;
  z-index: 1050 !important;
  max-height: 180px !important;
  border-radius: 5px;
  border-top: 1px solid white; /* Border at the top */
  border-bottom: 1px solid white; /* Border at the bottom */
  max-width: 100px !important;
  padding: 0;
  z-index: auto;
}
