@tailwind base;
@tailwind components;
@tailwind utilities;

/* 默认模式下的背景色 */
body {
  @apply bg-gray-100 text-black;
}

/* 暗黑模式下的背景色 */
.dark body {
  @apply bg-secondary text-white;
}
.transition-height {
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
}

.height-0 {
  height: 0;
  opacity: 0;
}

.height-auto {
  height: auto;
  opacity: 1;
}
.transition-opacity {
  transition: opacity 0.3s ease-in-out;
}
