@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-black;
}

.dark body {
  @apply bg-[#15202B] text-white;
}
.transition-height {
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.height-0 {
  height: 0;
  opacity: 0;
}

.height-auto {
  height: auto;
  opacity: 1;
}
.transition-opacity {
  transition: opacity 0.3s ease-in-out;
}
textarea {
  resize: none;
}
.word-wrap {
  word-break: break-word; /* 强制长单词换行 */
  overflow-wrap: break-word; /* 兼容性属性，确保长单词在行尾换行 */
}
